<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weather.png" />
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <p>This site was created by Navaneeth Krishnan S. It uses mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="/images/me.png" alt="My pic"/>
        </div>
        {{>footer}}
    </body>
</html>